# Supabase Configuration
VITE_SUPABASE_URL=https://oytxonaumefjsnkpzbxy.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im95dHhvbmF1bWVmanNua3B6Ynh5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTcwMDM4ODUsImV4cCI6MjA3MjU3OTg4NX0.FMHtubwkCv5E53sHsX_1KjvFxw4JcC4u5LJ1KeCaBQ4

# Remplacez ces valeurs par vos vraies clés Supabase
# VITE_SUPABASE_URL=https://oytxonaumefjsnkpzbxy.supabase.co
# VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im95dHhvbmF1bWVmanNua3B6Ynh5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTcwMDM4ODUsImV4cCI6MjA3MjU3OTg4NX0.FMHtubwkCv5E53sHsX_1KjvFxw4JcC4u5LJ1KeCaBQ4

